<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome! Please select user's perspective.</h1>

    <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


  <form action="/" method="POST">
    <select name="myselect" id="myselect" onchange="this.form.submit()">
        {% for n in data %}
            <div> <option value="{{ n }}"> {{ n }} </option> </div>
        {% endfor %}
    </select>
  </form>


</body>


</html>
