<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome! Please select user's perspective.</h1>

  <form action="/login" method="POST">
    <select name="uid" id="user">
        {% for uid, name in data.items() %}
            <div> <option value="{{ uid }}"> {{ name }} </option> </div>
        {% endfor %}
    </select>
    <input type="submit" value="Select">
  </form>


  <form method="POST" action="/new-user">
    <p>Or create a new user: <input type="text" name="uname">
      <input type="submit" value="Create"></p>
  </form>




</body>


</html>
