<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
    ul {
    list-style-type: none;
    }
  </style>


<body>
  <h1>Playlist: {{pname}}</h1>

      <ul>
      {% for sid, d in songs1.items() %}
        <form action="/add_playlist" method="POST" class="add_playlist">
        <li> <input type="submit" value="X"></input> {{ d['sname']}} {{d['aname']}}{{d['albumname']}} <a href="{{ d['link'] }}">Listen</a>

          <input type=hidden value="{{ d['s.sid'] }}" name="add_sid"></input>

          </form>
          </li>
      {% endfor %}
      </ul>


  <p><a href="/">Go back to dashbord</a></p>

  <p><a href="/logout">Select another user.</a></p>

</body>
</html>