<html>
  <style>
    body{
      font-size: 12pt;
      font-family: arial;
    }
    ul {
    list-style-type: none;
    }
  </style>


<body>
  <h1>Playlist: {{pname}}</h1>

      <ul>
      {% for sid, d in songs1.items() %}
        <form action="/like-or-unlike" method="POST" class="like-or-unlike">
        <li>
          <audio controls>
            <source src="{{ d['link'] }}" type="audio/mpeg">
            <a href="{{ d['link'] }}">Listen</a>
          </audio>
          {% if d['sid'] not in likes %}
            <input name="submit" type="submit" value="+" style="background-color: lightgreen"></input>
          {% else %}
            <input name="submit" type="submit" value="X"></input>
          {% endif %}
          {{ d['sname']}} | {{d['aname']}} | {{d['albumname']}}
          <input type=hidden value="{{ d['sid'] }}" name="sid"></input>
          <input type=hidden value="{{ pid }}" name="pid"></input>
          <input type=hidden value="playlist" name="redirect"></input>

        </li>
        </form>
      {% endfor %}
      </ul>


  <p><a href="/">Go back to dashbord</a></p>

  <p><a href="/logout">Select another user.</a></p>

</body>
</html>
