<html>
  <style>
    body{
      font-size: 12pt;
      font-family: arial;
    }
    ul {
    list-style-type: none;
    }
  </style>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

{#  http://stackoverflow.com/questions/20719550/play-one-html-audio-element-at-a-time#}
<script>
  $(function(){
    $("audio").on("play", function() {
        $("audio").not(this).each(function(index, audio) {
            audio.pause();
        });
    });
  });
</script>


<body>

  <span style="font-size: small; ">
  Signed in as: {{ user }} <br>
  <a href="/"> Return to Dashboard</a>
  </span>

  <h1>Playlist: {{pname}}</h1>

      <ul>
      {% for sid, d in songs1.items() %}
        <form action="/remove-playlist-song" method="POST" class="remove-song"
              style="float: left;">
          <input name="submit" type="submit" value="Remove"></input>
          <input type=hidden value="{{ d['sid'] }}" name="sid"></input>
          <input type=hidden value="{{ pid }}" name="pid"></input>
          <input type=hidden value="{{ cid }}" name="cid"></input>
        </form>
        <form action="/like-or-unlike" method="POST" class="like-or-unlike"
              style="display: inline;">
        <li>
          <audio controls >
            <source src="{{ d['link'] }}" type="audio/mpeg">
            <a href="{{ d['link'] }}">Listen</a>
          </audio>
          {% if d['sid'] not in likes %}
            <input name="submit" type="submit" value="+" style="background-color: lightgreen"></input>
          {% else %}
            <input name="submit" type="submit" value="X"></input>
          {% endif %}
          {{ d['sname']}} | {{d['aname']}} | {{d['albumname']}}
          <a href="/song?sid={{ d['sid'] }}">
            <img alt="i" src="/static/Sign-Info-icon.png" height="12">
          </a>
          <input type=hidden value="{{ d['sid'] }}" name="sid"></input>
          <input type=hidden value="{{ pid }}" name="pid"></input>
          <input type=hidden value="{{ cid }}" name="cid"></input>
          <input type=hidden value="playlist" name="redirect"></input>

        </li>
        </form>
      {% endfor %}

        <li><a href="/add-song-to-playlist?pid={{ pid }}&cid={{ cid }}">Add song</a></li>
      </ul>

</body>
</html>
