<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <span style="font-size: small; ">
  Signed in as: {{ user }} <br>
  <a href="/"> Return to Dashboard</a>
  </span>

  <form action="/like-or-unlike" method="POST" class="like-or-unlike">
  <h1>{{ song_details['sname'] }}
  {% if not liked %}
    <input name="submit" type="submit" value="+" style="background-color: lightgreen"></input>
  {% else %}
    <input name="submit" type="submit" value="X"></input>
  {% endif %}
  </h1>
  <input type=hidden value="{{ song_details['sid'] }}" name="sid"></input>
  </form>
  <audio controls>
    <source src="{{ song_details['link'] }}" type="audio/mpeg">
    <a href="{{ song_details['link'] }}">Listen</a>
  </audio>
  <ul>
    <li>Length: {{ song_details['minutes'] }}:{% if song_details['seconds'] < 10 %}0{% endif %}{{ song_details['seconds'] }}</li>
    <li>Genre: {{ song_details['gname'] }}</li>
    <li>Artist: <a href="/artist?aid={{ song_details['aid'] }}">{{ song_details['aname'] }}</a></li>
  </ul>


</body>


</html>
