<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
    ul {
    list-style-type: none;
    }
  </style>


<body>
  <h1>These are the songs we found for you</h1>

      <ul>
      {% for sid, d in songs.items() %}
        <form action="/add_playlist" method="POST" class="add_playlist">
        <li> <input type="submit" value="Add to playlist"></input> {{ d['sname']}} | {{d['aname']}} | {{d['albumname']}} <a href="/song?sid={{ d['sid'] }}"><img alt="i" src="/static/Sign-Info-icon.png" height="12"></a>
          <audio controls>
            <source src="{{ d['link'] }}" type="audio/mpeg">
            <a href="{{ d['link'] }}">Listen</a>
          </audio>

          <input type=hidden value="{{ d['s.sid'] }}" name="add_sid"></input>

          </form>
          </li>
      {% endfor %}
      </ul>


  <p><a href="/">Go back to dashbord</a></p>

  <p><a href="/logout">Select another user.</a></p>

</body>
</html>
