<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <span style="font-size: small; ">
  Signed in as: {{ user }} <br>
  <a href="/"> Return to Dashboard</a>
  </span>

  <h1>{{ song_details['sname'] }}</h1>

  <ul>
    <li>Length: {{ song_details['minutes'] }}:{% if song_details['seconds'] < 10 %}0{% endif %}{{ song_details['seconds'] }}</li>
    <li>Genre: {{ song_details['gname'] }}</li>
    <li>Artist: <a href="/artist?aid={{ song_details['aid'] }}">{{ song_details['aname'] }}</a></li>
  </ul>


</body>


</html>
