<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
    ul {
    list-style-type: none;
    }
  </style>


<body>
  <h1>Hello, {{ user }}.</h1>

  <p><a href="/logout">Select another user.</a></p>

  <p>
  {# Example: http://stackoverflow.com/questions/10407433/how-do-i-get-my-html-button-to-delete-the-right-list-item-from-a-sqlite-database#}
      Users you follow:
      <ul>
      {% for fid, d in friends.items() %}
        <form action="/remove-friend" method="POST" class="remove-friend">
        <li> <input type="submit" value="X"></input> {{ d['uname'] }}

          <input type=hidden value="{{ d['friend_uid'] }}" name="delete_uid"></input>

          </form>
          </li>
      {% endfor %}
      </ul>
  </p>

  <p>Follow another user:
    <form action="/add-friend" method="POST">
      <select name="uid" id="user">
        {% for uid, d in not_friends.items() %}
            <div> <option value="{{ uid }}"> {{ d['uname'] }} </option> </div>
        {% endfor %}
      </select>
      <input type="submit" value="Add friend">
    </form>
  </p>

  <p>
    Artists you follow:
    <ul>
      {% for aid, d in artist_follows.items() %}
        <form action="/remove-artist" method="POST" class="remove-artist">
        <li> <input type="submit" value="X"></input> {{ d['aname'] }}

          <input type=hidden value="{{ d['aid'] }}" name="delete_aid"></input>

          </form>
          </li>
      {% endfor %}
      </ul>
  </p>


</body>

</html>
